.container {
    text-align: center;
}
form {
    display: inline-block;
    text-align: left;
    padding: 10px;
    background: #737373;
    margin-top: 50px;
}
.label {
    display: inline-block;
    width: 100px;
}
input {
    margin-top: 5px;

}
h2 {
    margin: 2px;
    color: white;
}
.button {
    text-align: right;
}
.submit-button {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: azure;
    color: black;
    cursor: pointer;
}
body {
    background: #333333;
}

.back {
    font-family: "Yu Gothic Light";
    font-size: 50px;
    text-align: center;

}

.back a {
    color: white;
    list-style: none;
    border: #333333 2px solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.back a:hover {
    color: yellow;
}